<div id="credentials" class="tab" style="display:none;">
    <div class="center w3-padding">
        <%for(let credential of credentials) {%>
            <div class="w3-card w3-container w3-third w3-padding" >
                <div class="w3-cell-middle" style="display: block;margin: auto;">
                    <svg width="200" height="200" data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
                </div>
                <div class="w3-cell" style="display: block;margin: auto;">
                    <h4><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></h4>
                    <%for(let attr of Object.keys(credential.attrs).sort()) {%>
                        <p style="text-align: left"><%=attr%>: <%=credential.attrs[attr]%></p>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>
    <!--<button onclick="document.getElementById('sendCredModel').style.display='block'" class="w3-btn w3-white w3-border">Start</button>-->
</div>