<div id="messages" class="tab" style="display:none;">
    <div id="messages" class="w3-half" style="width:50%; height:700px; overflow:scroll;">
        <%for(var message of messages) {%>
        <div class="center w3-padding">
            <div class="w3-card w3-container" >
                <p>From: <%=message.message.did%></p>
                <p>Type: <%=message.message.type%></p>
                <p>Received <%=message.timestamp%></p>
                <div>
                    <%if (message.message.type === messageTypes.connections.REQUEST) {%>
                        <form>
                            <input type="hidden" id="connection_message_id" value="<%=message.id%>">
                            <input type="text" id="connection_name" required/>
                            <%if (message.links.accept) {%>
                                <button class="w3-btn w3-white w3-border" type="submit" onclick="request('<%=message.links.accept.href%>', '<%=message.links.accept.method%>', JSON.stringify({ name: document.getElementById('connection_name').value, messageId: document.getElementById('connection_message_id').value}))">Accept Connection Request</button>
                            <%}%>
                            <%if (message.links.reject) {%>
                                <button class="w3-btn w3-white w3-border" type="submit" onclick="request('<%=message.links.reject.href%>', '<%=message.links.reject.method%>')">Reject Connection Request</button>
                            <%}%>
                            <br><br>
                        </form>
                    <%} else {%>
                        <%if(message.links) {%>
                            <%for(let link of message.links) {%>
                                <button class="w3-btn w3-white w3-border" type="submit" onclick="request('<%=link.href%>', '<%=link.method%>', '<%=link.message%>')"><%=link.name%></button>
                            <%}%>
                        <%} else {%>
                            <p>Message:</p>
                            <p><%=message.message.message%></p>
                        <%}%>
                        <br><br>
                    <%}%>
                </div>
            </div>

        </div>
        <%}%>
    </div>
    <div class="w3-half w3-right">
        <form class="w3-container w3-card-4 w3-padding" onsubmit="sendSovrinMessage('urn:sovrin:agent:message_type:sovrin.org/ui/send_message', this)">
            <div class="w3-section">
                Recipient: <input id="send_message_form_did" class="w3-input" type="text" name="did" value="<%=publicDid%>">
            </div>
            <div class="w3-section">
                Message: <textarea id="send_message_form_message" class="w3-input" name="message" rows="6" >{
    "type":"SOME_TYPE",
    "message":"test"
}</textarea>
            </div>
            <input class="w3-btn w3-white w3-border" type="submit">
        </form>
        <!--<br><br>-->
        <!--<div class="w3-container w3-card-4 w3-padding">-->
            <!--<div><ul id="testMessages"></ul></div>-->
            <!--<br>-->
            <!--<form id="socketTestForm" action="">-->
                <!--Socket message: <input id="m" autocomplete="off" /><button>Send</button>-->
            <!--</form>-->
        <!--</div>-->

    </div>
</div>